[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-foundry-upgrades"]
	path = lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable

[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "lib/pendle-core"]
	path = lib/pendle-core
	url = https://github.com/pendle-finance/pendle-core
[submodule "lib/pendle-core-v2-public"]
	path = lib/pendle-core-v2-public
	url = https://github.com/pendle-finance/pendle-core-v2-public
